.container {
	margin-top: 20px;
	display: flex;
	.left {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
	}
	.right {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
	}

	.title {
		line-height: 50px;
		color: #fff;
		font-size: 16px;
		&:hover {
			color: #f54c53;
		}
	}
}
